body{
}
header{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:70px;

  background-color:#099;
}
header h2{
  margin-top:35px;
  margin-left:20px;
  transform: translateY(-50%);
}

.contents{
    margin-top:90px;

    text-align: center;
}
.main{
  /* margin-left: 50%;
  transform: translateX(-50%); */
  /* width: 80%; */

  border: 1px solid black;
}
.main input{
  width: 8em;
  text-align: right;
}
.main .requiredInput{
  background-color: yellow;
}
.main .underline{
  border-bottom: 1px solid black;
}
.grid{
  display: grid;
  grid-template-rows: repeat(5,2em);
  grid-template-columns:10em 1fr;
}
