html{
  width: 530px;
  margin-left: auto;
  margin-right: auto;
}
body{
  width: 530px;
  /* transform: translateX(-50%); */
}
header{
  position:fixed;
  top:0;
  left:50%;
  transform: translateX(-50%);
  width:100%;
  height:50px;

  background-color:#078;
}
header h1{
  margin-top:25px;
  margin-left:10px;
  transform: translateY(-50%);

  color: white;
  font-weight: lighter;
}

.contents{
    margin-top:90px;

    font-size: larger;
}
h3{
  border-left: 5px solid #078;
  padding-left: 10px;
}
.description{
  text-align: center;
}
.border{
  margin: 10px;
  border: 1px solid black;
}

.requiredInput{
  background-color: yellow;
}
#main{
  display: grid;
  grid-template-rows: repeat(27,2em);
  grid-template-columns:1fr 7em;
}
#main input{
  width: 8em;
  text-align: right;
}
#main .underline{
  border-bottom: 1px solid black;
}

#huyou{
  display: grid;
  grid-template-rows: repeat(4,2em);
  grid-template-columns: 1fr 3em;
}

aside{
  font-size: medium;
}
aside .toplevelLi{
  margin-bottom : 10px;
}
